---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout 
	title="Premios ESLAND 2024 - En honor a la excelencia en el streaming y la creación de contenido" 
	description="Descubre a los talentosos creadores de contenido de España, Latinoamérica y Andorra que se destacan en la escena del streaming. ¡Participa votando por tus favoritos! Únete a nosotros en la celebración de la innovación y el talento en plataformas como Twitch, YouTube y más durante los Premios ESLAND 2024. Este evento es una oportunidad para reconocer y aplaudir a los streamers y creadores de contenido más brillantes de la comunidad hispanohablante. ¡Acompáñanos en esta emocionante gala que celebra la creatividad y el entretenimiento en su máxima expresión!">
	<Video />
	<main>
		<Intro/>
		<Bento/>
		<PreFooter/>
	</main>
</Layout>

<style>
</style>
